.sidebar {
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  flex: 1;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  align-items: center;
  display: flex;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(228, 228, 250);
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
